
// ---------- color ---------- //

// ベース
$color_base: #333 !default;

// 白
$color_white: #fff !default;

// 黒
$color_black: #1a1a1a !default;

// グレー
$color_gray: #666 !default;

// 赤
$color_red: #c63205 !default;

// 黄
$color_yellow: #F4D102 !default;

// 茶
$color_brown: #421f15 !default;

// 背景 - 透明 (白)
$color_transparent_white: rgba(255, 255, 255, .4) !default;

// 背景 - 透明 (黒)
$color_transparent_black: rgba(0, 0, 0, .3) !default;

